.root{
    margin-left: 150px;
    margin-right: 150px
}
.header{
    background-color: azure;
}
.zomato{
    display: flex;
    align-items: center;
   
}

.search{
    height: 70px;
    width: 900px;
    border:2px solid aliceblue;
    border-radius: 10px;
    box-shadow:0.5px 0.5px 1.8px hsl(0deg 0% 0% / 0.47);
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.location{
    font-size: 22px;
    display: inline-flex;
    align-items: center;
}
.space{
    margin-left: 10px;
}
.input-loc{
    margin-left: 10px;
}
.loc{
    font-size: 20px         ;
    border: none;
}
.v1{
    border-left: 3px solid rgb(219, 206, 206);
    height: 30px;
}
.loc:focus{
    outline: none;
}
.item-search{
    font-size: 22px;
    display: inline-flex;
    align-items: center;
}
.input-item{
    margin-left: 10px;
}
.item-dish{
    font-size: 20px;
    border: none;
}
.item-dish:focus{
    outline: none;
}
.Log{
    margin-left: 100px;
}
.Log a{
    background-color: white;
    text-decoration: none;
    font-size: 25px;
    color: grey;
    margin-right: 50px;
    
}
.Log a:hover{
    color: rgb(65, 53, 53);
}
.Location-details a{
    text-decoration: none;
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}
.Location-details a:hover{
    color: rgb(219, 83, 83);
}
.eat-type{
    margin-top: 30px;
}
.eat-type a{
    margin-right: 40px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(94, 83, 83);
    

}
.eat-type a:focus{
    border-bottom:2px solid rgb(215, 72, 72) ;
}